html {
    box-sizing: border-box;
    font-size: 1rem;
}

body {
    background-color: hsl(0, 100%, 50%);
    margin: auto;
    max-width: 70%;
}

form {
    background-color: hsl(100, 100%, 100%);
    border-radius: 5px;
    padding: 3rem;
    margin-bottom: 3rem;
    min-height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

input {
    border-color: black;
    border-width: 0.1em;
}

.output {
    background-color: hsl(100, 100%, 100%);
    border-radius: 5px;
    border-color: black;
    padding: 3rem;
    min-height: 20vw;
}